PermitLocalCommand yes

Host 192.168.1.175
#  RemoteForward 52698 127.0.0.1:52698
  user pi

Host raspi
  Hostname 192.168.1.175
  user pi
Host raspirt
  Hostname redacted.example.com
  user pi
  LocalForward 5548 192.168.1.160:548

Host github.com
  Hostname ssh.github.com
  Port 443
