PermitLocalCommand yes
UseRoaming no

Host barretts
  Hostname barretts.ecs.vuw.ac.nz
  user harry

Host red-tomatoes
  Hostname red-tomatoes.ecs.vuw.ac.nz
  user harry

Host piccolo
  Hostname piccolo.ecs.vuw.ac.nz
  user harry
