PermitLocalCommand yes

Host 192.168.1.175
#  RemoteForward 52698 127.0.0.1:52698
  user pi

Host raspi
  Hostname 192.168.1.175
  user pi
Host raspirt
  Hostname redacted.example.com
  user pi
#  LocalForward 5548 192.168.1.160:548

# There is a load balancer or something in front of it; the host key changes frequently
# This was not previously the case, but this is happening on a trusted network, so I'm likely not being MITM'ed
# This simply tells SSH to not ask before writing the host key, and to write it to /dev/null
Host joshuaoldenburg.com
	UserKnownHostsFile /dev/null
	StrictHostKeyChecking no

#Host github.com
#  Hostname ssh.github.com
#  Port 443
